html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6,
blockquote, form, fieldset, legend, table, td, th {
	margin: 0;
	padding: 0;
}
html, body{
	width:100%;
	height:100%; 
}

@font-face {
    font-family: 'flexyRegular';
    src: url('flexy31.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	color:#000;
	font-family: "flexyRegular";
	font-size: 17px;
	background: #fbfaf9;	
	color:#515151;
}
ul, ol{margin:0 0 0.5em 20px}
table {border-collapse:collapse; empty-cells:show;}
p{margin:0 0 0.8em 0;}
a:hover{color: #d60d8c}
a img{border:none;}
.clearer{clear:both}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden{display: none;}
header, nav, article, footer, section {
	display: block;
}


.pseudo-link{
	display:inline-block;
	border-bottom:1px dotted #515151;
	line-height: 0.8;
}

#layout{
	width:715px;
	margin:auto;
	position:relative;
}
#header{
	border-bottom:1px solid #515151;
	position:relative;
	padding:40px 0 4px 0;
}
#auth{
	background-color:#f5ece8;
	position:absolute;
	top:0;
	right:0;
	padding:5px 20px 4px 20px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
}
	#auth span{
		font-size:17px;
		border-bottom:1px dashed #515151;
		line-height: 0.8;
		display: inline-block;
	}
	#auth span.login{
		margin-right:16px;
	}
	
#logo{
	color:#515151;
	font-size:51px;
	letter-spacing:-1px;
	float:left;
}
	#logo span{
		color:#be7551;
	}


#toolbar{
	margin-left:203px;
	padding:11px 0 0 0;
	font-size:17px;
}
	.toolbar-item{
		display:inline-block;
	}
	.toolbar-button{
		border-radius:6px;
		border:1px solid #515151;
		display:inline-block;
		font-size:17px;
		line-height:28px;
		height:24px;
		padding:0 8px;
		cursor:pointer;
	}
		.toolbar-button:hover{
			color:#be7551;
			border-color:#be7551;
		}
		.toolbar-button .icon{
			background:url(../img/sprite.png) 100px 0 no-repeat;
			display:inline-block;
			width:12px;
			height:12px;
			position:relative;
			top:1px;
		}
		.toolbar-button.select .icon{
			float:right;
			width:7px;
			height:4px;
			background-position:0 -30px;
			top:10px;
			margin:0 0 0 5px;
		}

	.languages{
		float:right;
	}
	.level{
		margin-right:40px;
	}
		.level > span{
			display:inline-block;
		}
		.level-changer-toggler{
			border-bottom:1px dashed #515151;
			line-height: 0.8;
			display: inline-block;
		}
	.pause{
		margin-right:40px;
	}
		.pause .icon{
			background-position:0 0;
		}
	.replay .icon{
		background-position:0 -15px;
		width:13px;
	}

#tris{
	padding-top:21px;
	position:relative;
	width:715px;
	height:492px;
	overflow:hidden;
	border-bottom:1px solid #515151;
}

.brick{
	width:139px;
	height:37px;
	position:absolute;
	bottom:505px;
	margin:0 2px 2px 0;
	border:1px solid transparent;
	font-size:21px;
	line-height:38px;
	border-radius:10px;
	text-align:center;
	vertical-align:top;
	cursor:default;
}
	.brick.stable{
		cursor:pointer;
	}
	.brick.en{
		color:#be7551;
	}
	.brick.stable.selected.ru,
	.brick.stable.ru:hover{
		border:1px solid #474747;
	}
	.brick.stable.selected.en,
	.brick.stable.en:hover{
		border:1px solid #be7551;
	}